body {
    background-color: #36382e;
    font-family: Verdana, Geneva, sans-serif;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #DADAD9;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #36382E;
}